= render partial: "shared/sidebar"

.chat__main
  .chat__main__header
    .chat__main__header--left
      %h5.chat__main__groupname divグループ
      %h5.chat__main__groupmember Menbars: kota seo shizuka
    .chat__main__header__right
      =link_to "edit", "", class: "chat__main__header__right__button"
