$sidebarMainColor: #2f3e51;
$sidebarTopColor: #253141;
$sidebarHoverColor: #69639A;
$maimGroupNameColor: #333333;
$maimGroupMenberColor: #999999;
$mainHeaderButton: #38AEF0;
$mainPostDateColor: #999999;
