.chat__main__content
  .chat__main__content__massage-haeder
    %h5.chat__main__content__username=message.user.name
    %span.post__date=message.user.created_at
  %p.chat__main__content__text=message.body