.chat__main {
  float: left;
  height: 100%;
  position: relative;
  width: calc(100% - 300px);
  .chat__main__header {
    height: 72px;
    padding: 35px 40px 0;
    border-bottom: solid #eeeeee;
    .chat__main__header--left {
      float: left;
      .chat__main__groupname {
        font-size: 20px;
        color: $maimGroupnameColor;
      }
      .chat__main__groupmenber {
        font-size: 12px;
        color: $maimGroupMenberColor;
        padding: 15px 0;
      }
    }
    .chat__main__header__right {
      float: right;
      .chat__main__header__right__button {
        height: 40px;
        line-height: 40px;
        border: solid 2px $mainHeaderButton;
        color: $mainHeaderButton;
        padding: 0 20px;
        display: inline-block;
      }
    }
  }
  .chat__main__body {
      overflow: scroll;
      height: calc(100vh - 50px - 72px);  
  }
  .chat__main__content {
    margin-top: 46px;
    padding: 0 40px;
    .chat__main__content__massage-haeder {
      @include clearfix();
    }

    .chat__main__content__username {
      font-size: 16px;
      font-weight: bold;
      float: left;
      margin-bottom: 10px;
    }
    .post__date {
      font-size: 12px;
      float: left;
      color:  #999999;
      margin-left: 10px;
      line-height: 12px;
    }
    .chat__main__content__text {
      font-size: 14px;
      color: #434A45;
    }
  }

  .chat__main__footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #DDDDDD;
    padding: 20px 40px;
    .chat__area {
      display: relative;
      width: calc(100% - 150px);
      height: 50px;
      float: left;
      background-color: #FFFFFF;
      .chat__main__footer__body {
        width: 100%;
        height: 50px;
        float: left;
        line-height: 50px;
        font-size: 16px;
        padding: 0 10px;
      }
      label {
        position: absolute;
      }
      input {
        display: none;
       }
      i {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 17px;
      }
    }
    .chat__main__footer__send-button{
      float: left;
      display: inline-block;
      width: 100px;
      height: 50px;
      color: #FFFFFF;
      margin-left: 50px;
      font-size: 15px;
      background-color: $mainHeaderButton;
    }
  }
}
