.flash {
  width: 100%;
  line-height: 30px;
  text-align: center;
  color: #FFFDFD;
  .notice {
    background-color: $flashSuccessMessage;
  }
  .alert {
    background-color: $flashErrorMessage;
  }
}
